@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row text-center">
    <div class="col-12">
        <h1 class="display-4">Welcome</h1>
    </div>
</div>
<div class="row">
    <div class="col-12 p-3">ExplicitContentDetection is an ASP.NET Core Web API and Web Application project for testing the Explicit Content Detection (SafeSearch) feature of Google Cloud's Vision API. It contains a Mock SafeSearch API for simulating the Web API call.</div>
</div>
